body{
	background: linear-gradient(rgb(90,10,100),rgb(10,10,100));
	width:100vw;
	margin:0px;
	height:100vh;
	display:grid;
}

#central{
	background-color:rgb(210,250,255);
	width: 60vw;
	margin-left:20vw;
	margin-right:20vw;
	margin-top:10px;
	margin-bottom:10px;
	display:grid;
}

#title{
	text-align:center;
	color:darkblue;
	font-size:10em;
	width:70vw;
	margin-left:15vw;
	margin-right:15vw;
	margin-top: 2vh;
	margin-bottom:2vh;
	background-color:pink;
	height:1em;
}


	
}